header {
  display: grid;
  grid-template-columns: 43% 33% 24%;
  margin: 92px 49px;
  font-size: 18px;
  text-underline-offset: 4px;
}

.header__links-list {
  display: flex;
  align-items: center;
  white-space: nowrap;

}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__links-list-item {
  margin-left: 32px;
  list-style: circle;
}

.link-list__link {
  color: currentColor;
  text-decoration: underline;
}

.link-list__link:hover {
  text-decoration: none;
}

.header__logo {
  width: 148px;
  
}

address {
  font-style: normal;
}

.header__address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  line-height: 25px;
}